:root {
  color-scheme: light dark;

  --font-size: 100%;
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  font-size: var(--font-size)
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

a {
  text-decoration: none;
}

img.avatar {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  background-position: center;
}

$border-gradient-outer: linear-gradient(150deg,
    #ffff9c,
    #ff9e23,
    #ff5608,
    #8e260e,
    #601a0c);
$border-gradient-inner: linear-gradient(150deg,
    #8e260e,
    #ff5608,
    #8e260e,
    #601a0c);
// $bg-gradient-1: linear-gradient(120deg, $blurple, #565e7b, #6c88e7);
// $bg-gradient-2: linear-gradient(120deg, #8185ed, #565e7b, #87b0fe);
// $bg-gradient-1: linear-gradient(120deg, #7493f3, #5461bd, #87a3e0);
$bg-gradient-1: linear-gradient(120deg, #7493f3, #565e7b, #87a3e0);
$bg-gradient-2: linear-gradient(120deg, #5461bd, #87a3e0, #5966d7);

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.button {
  text-transform: none;
  letter-spacing: 0.1px;

  span {
    z-index: 3;
  }

  &--link {
    $button-height: 3rem;
    position: relative;
    box-sizing: border-box;
    height: $button-height;
    font-weight: 700;
    font-size: 1.1rem;
    width: 300px;
    line-height: $button-height;
    border-radius: 0.5rem;
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }

  &--default {
    color: #fff;
    border: 1px solid #fff;

    @media (prefers-color-scheme: light) {
      & {
        color: black;
        border-color: black;
      }
    }
  }

  &--main::after {
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition-property: opacity;
  }

  &__icon {
    padding: 0 0.5rem 0.125rem 0;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
  }

  &--dicegolem {
    $border-width: 0.25rem;
    color: #fff;
    // color: #646266;

    background: #565e7b;
    background: $bg-gradient-1 padding-box, $border-gradient-outer border-box;
    border: $border-width solid transparent;

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      // background: $bg-gradient-1 padding-box, $border-gradient-inner border-box;
      filter: brightness(90%);
    }
  }

  &--discord {
    background-color: $blurple;

    &:hover,
    &:focus {
      filter: brightness(90%);
    }
  }

  &--document {
    background-color: white;
    color: initial;
    border: solid 0.125rem;
    border-color: initial;

    @media (prefers-color-scheme: dark) {
      & {
        color: black;
        border-color: transparent;
      }
    }

    &:hover,
    &:focus {
      color: black;
      filter: brightness(90%);
    }
  }

  &--github {
    background-color: #000;
    border-color: #fff;

    @media (prefers-color-scheme: light) {
      & {
        border-color: transparent;
      }
    }

    &:hover,
    &:focus {
      filter: brightness(90%);
    }
  }

  &--top {
    color: #fff;
    background-color: #f36;

    &:hover,
    &:focus {
      filter: brightness(90%);
    }
  }
}

.mention {
  border-radius: 0.2em;
  // line-height: 1;
  font-weight: inherit;
  padding: 0 0.2em;
  color: rgba(201, 205, 251, 1);
  background-color: rgba(#3c4270, .7);

  @media (prefers-color-scheme: light) {
    & {
      font-weight: 400;
      color: rgba($blurple, 1);
      background-color: rgba($blurple, .3);
    }
  }
}

.param {
  border-radius: 0.2em;
  padding: 0 0.2em;
  color: rgba(white, 1);
  background-color: rgba(grey, .3);

  @media (prefers-color-scheme: light) {
    & {
      font-weight: 400;
      color: inherit;
    }
  }
}
